# Exclude files and directories in top directory
/*
~*

# Whitelist
!scripts/
!config/
!resources/
!schematics/
schematics/*.*
!dev/
!server/
!README.md
!MODS.md
!.gitattributes
!minecraftinstance.json
!patchouli_books/
!bansoukou/
!structures/
structures/inactive
!manifest.json
!.gitignore
!.github/
!.imgbotconfig
!CHANGELOG-latest.md
!asm/

!resourcepacks
resourcepacks/*
!resourcepacks/icons

# Developing-only configs
!.eslint.config.js
!.tsconfig.json

# OTG configs
!mods
mods/*
!mods/OpenTerrainGenerator
!mods/OpenTerrainGenerator/worlds/BBOP-Extended/**
mods/OpenTerrainGenerator/worlds/BBOP-Extended/WorldObjects/_Copies
!mods/OpenTerrainGenerator/worlds/Void/**
mods/OpenTerrainGenerator/worlds/Void/WorldObjects/_Copies

# 3d party mods
!mods/Sound-Physics-*.jar
!mods/Nutrition-*.jar

!resources/mechanics/lang
*/Patchouli/garbage
config/acronym/saved
config/activity.json
config/advRocketry/weights.json
config/AppliedEnergistics2/items.csv
config/armoryexpansion/*
config/biomesoplenty/biomes/*
config/BiomeTweaker/output/
config/bogosorter/config.json
config/brandon3055/contributors.json
config/brandon3055/ProjectIntelligence/
config/brandon3055/ResourceCache/
config/cd4017be/compiled.dat
config/ChatFlow.dat
config/cherishedworlds/favorites.dat
config/codechicken/supporters.json
config/craftpresence.json
config/creativecore.json
config/customloadingscreen_timings.nbt
config/enderio/recipes/*.pdf
config/enderio/recipes/**/*.xsd
config/enderio/recipes/examples/*
config/fantasticlib/**/*
config/FBP/*
config/gliby_vc/
config/InfinityItemEditor.cfg
config/InvTweaks.cfg
config/InvTweaks/InvTweaks.cfg
config/jei/bookmarks.ini
config/jei/lookupHistory.zip
config/jei/worldSettings.cfg
config/jeiexporter
config/JustEnoughCalculation/data/groups.json
config/JustEnoughCalculation/record.json
config/loliasm/methods-stable_39.csv
config/mcp_stable-39-1.12.zip
config/MouseTweaks.cfg
config/nuclearcraft.info
config/nuclearcraft.ncpf.json
config/ometweaks/modules.cfg
config/opencomputers/default.recipes
config/opencomputers/gregtech.recipes
config/opencomputers/hardmode.recipes
config/precisionmining
config/probezs.cfg
config/relauncher.json
config/scavenge/IResourceProperty.txt
config/serializationisbad-remotecache.json
config/simplelogin.cfg
config/smoothfont/smoothfont.cfg
config/startuptimer/startup_times.json
config/tconstruct_oredictcache.dat
config/tellme/*.csv
config/tinker_ore_dict_melting_cache.dat
config/tool_progression/blocks.cfg
config/tool_progression/materials.cfg
config/tool_progression/tools.cfg
config/triumph/documentation/*
config/triumph/script/triumph/*
dev/automation/**/~*
dev/default_configs/default_config_outdated
dev/lang/tmp
resources/contenttweaker/blockstates
resources/contenttweaker/models/item
resources/mechanics/blockstates
resources/mechanics/models
scripts/.zsrc
scripts/nc_script_addons
